{% extends 'base.html' %}
{% block title %}Ask a Question{% endblock %}

{% block content %}
<center>
<br>
      <div class="page-header">
        <h1 class="display-5" style="color: #ffffff;">Ask a Question</h1>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="well bs-component">
            <form class="form-horizontal" method="POST" action="{{ url_for('main.ask') }}" enctype="multipart/form-data">
              <fieldset>
                <div class="form-group">
                  <label for="textArea" style="color: #ffffff;" class="col-lg-2 control-label">Question</label>
                    <div class="col-lg-10">
                      <textarea class="form-control" name="question" rows="3" id="textArea"></textarea>
                      <span class="help-block" style="color: #ffffff;">Add a file if needed!</span>
                      <input class = "form-control" type="file" name="file">
                    </div>
                  </div>
<br>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="button button1">Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>

    </center>
      <style>
        body {
  background-color: black;
}

.button {
  background-color:#00bb19; /* Green */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;

  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #00bb19;"
  color: black; 

}

.button1:hover {
  background-color: #ffffff;
  color: #00bb19;
}
</style>

{% endblock %}